body {
    background-color: #B9C7E2;
    margin: 0 auto;
    font-family: "Roboto Light", sans-serif;
    box-sizing: border-box;
    height: 100%;
    max-width: 1980px;
width: 100%;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

input {
    width: 100%;
    border: none;
    height: 40px;
    text-indent: 10px;
}

button {
    height: 42px;
    width: 200px;
    border: none;
    background: #DAA520;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    font-size: 20px;

}

nav {
    background-color: #748DC1;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


    a {
        color: white;
        text-decoration: none;
        padding: 20px;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: end;
        list-style: none;
    }
}

.articleTitle {

    width: 100%;

}

article {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.goodfon.com/original/1920x1080/f/90/minimalizm-art-zviozdy.jpg");
    background-size: cover;


}

.adding__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #39588F;
    color: white;;
    width: 100%;
}

.articleBody :hover {
    z-index: 1;
    color: #fff;
    background: #2D4B81;
    opacity: 1;
    transform: scale(1) rotateZ(1deg);
    transition: all 1s cubic-bezier(0.33, 1, 0.68, 1);
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;

    justify-content: center;
}


.ribbon {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    --r: .8em;
    margin: 10px;
    line-height: 1.8;
    clip-path: polygon(-100vw 0, calc(100% - var(--r)) 0, 100% 50%, calc(100% - var(--r)) 100%, -100vw 100%);
    border-image: conic-gradient(#DAA520 0 0) fill 0 / / 100vw;
    overflow: auto;
    transform: scale(1) rotateZ(2deg);
}


.ribbon2 {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    --r: .8em;
    line-height: 1.8;
    clip-path: polygon(100vw 0, var(--r) 0, 0 50%, var(--r) 100%, 100vw 100%);
    border-image: conic-gradient(#bd1550 0 0) fill 0 / / 100vw;
    overflow: hidden;
    transform: scale(1.15) rotateZ(-5deg);
}

.delete {
    width: 20px;
    height: 20px;
    background: url("trash.png") center center/cover no-repeat;
    cursor: pointer
}